.mail {
  width: 100%;
  margin-top: 3.125rem;
  background-color: #003580;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  padding: 3.125rem;
}

.mailInputContainer > input {
  width: 300px;
  height: 30px;
  border: none;
  padding: 0.6rem;
  margin-right: 0.6rem;
  border-radius: 5px;
}

.mailInputContainer > button {
  height: 3.125rem;
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}